In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import os
import glob

In [2]:
folder_path = '../data/train_timelines/'
file_list = glob.glob(os.path.join(folder_path, '*.json'))

In [3]:
participantid = []
currentgold = []
totalgold = []
minionskilled = []
xp = []
matchid = []
teamid = []
cs_abilityHaste = []
cs_abilityPower = []
cs_armor = []
cs_attackDamage = []
cs_attackSpeed = []
cs_health = []
cs_healthMax = []
dd_totalDamageTaken = []
dd_pDamageDoneToChamps = []
dd_totDamageDone = []
positionX = []
positionY = []



def file_buster(file_path):
    with open(file_path) as json_file:
        data = json.load(json_file)
    matchida= data['matchId']
    for i, j in data['frames'][-1]['participantFrames'].items():  #looks at last frame, looks at participantFrames equiv to last_stats
        participantid.append(i)
        currentgold.append(j['currentGold'])
        totalgold.append(j['totalGold'])
        xp.append(j['xp'])
        minionskilled.append(j['minionsKilled'])
        matchid.append(matchida)
        if int(i) < 6:
            teamid.append('100')
        else:
            teamid.append('200')
        cs_stats = j['championStats']
        cs_abilityHaste.append(cs_stats['abilityHaste'])
        cs_abilityPower.append(cs_stats['abilityPower'])
        cs_armor.append(cs_stats['armor'])
        cs_attackDamage.append(cs_stats['attackDamage'])
        cs_attackSpeed.append(cs_stats['attackSpeed'])
        cs_health.append(cs_stats['health'])
        cs_healthMax.append(cs_stats['healthMax'])
    
        d_stats = j['damageStats']
        dd_totalDamageTaken.append(d_stats['totalDamageTaken'])
        dd_pDamageDoneToChamps.append(d_stats['totalDamageDoneToChampions'])
        dd_totDamageDone.append(d_stats['totalDamageDone'])
    
        pos = j['position']
        positionX.append(pos['x'])
        positionY.append(pos['y'])

In [4]:
count = 0
for file in file_list:
    #print('loading file: ' + str(count))
    file_buster(file)
    count+=1
print(str(count) + " files loaded")

8000 files loaded

In [5]:
di = {'matchId':matchid, 'teamId':teamid, 'participantId' : participantid, 'currentGold': currentgold, \
      'totalGold':totalgold, 'xp': xp, 'cs_abilityHaste': cs_abilityHaste, 'cs_abilityPower':cs_abilityPower,\
     'cs_armor': cs_armor, 'cs_attackDamage': cs_attackDamage,'cs_attackSpeed':cs_attackSpeed, \
     'cs_health': cs_health, 'cs_healthMax': cs_healthMax, 'dd_totalDamageTaken':dd_totalDamageTaken, \
     'dd_pDamageDoneToChamps' : dd_pDamageDoneToChamps, 'dd_totDamageDone': dd_totDamageDone, \
     'positionX': positionX, 'positionY': positionY}
za = pd.DataFrame(di)
za

,matchId,teamId,participantId,currentGold,totalGold,xp,cs_abilityHaste,cs_abilityPower,cs_armor,cs_attackDamage,cs_attackSpeed,cs_health,cs_healthMax,dd_totalDamageTaken,dd_pDamageDoneToChamps,dd_totDamageDone,positionX,positionY
0,0,100,1,341,2741,4141,0,9,112,84,115,1448,1525,3965,3446,22588,394,461
1,0,100,2,5,3045,2861,0,102,53,72,238,1234,1234,10014,2471,43236,986,1629
2,0,100,3,365,3545,4712,0,113,56,70,107,0,1325,3835,2700,33594,8102,7583
3,0,100,4,1214,2789,2894,0,0,51,114,125,1082,1082,2445,2112,21804,13118,2895
4,0,100,5,566,2026,2551,0,56,44,69,106,1102,1102,1376,1138,5274,11778,2819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,999,200,6,1127,1127,851,0,0,43,80,114,800,800,527,126,2094,14340,14390
79996,999,200,7,844,1694,1546,0,0,51,90,106,635,867,4173,408,23496,8707,10696
79997,999,200,8,56,1731,2489,0,18,47,72,113,0,1389,2613,1004,8191,7038,8022
79998,999,200,9,212,1512,1257,0,0,42,92,124,856,856,959,238,7068,13660,4454
79999,999,200,10,316,1251,1222,0,46,36,61,104,794,794,999,742,2319,12404,6126

In [6]:
champion_mastery = pd.read_csv('../data/champion_mastery.csv')
participants_train = pd.read_csv('../data/participants_train.csv')

In [7]:
champion_points = pd.merge(participants_train, champion_mastery, on = ['summonerId', 'championId'], how = 'left' ).drop(['chestGranted', 'tokensEarned'], axis = 1)
champion_points

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championLevel,championPoints
0,0,100,1,0,303,Mordekaiser,82,6.0,61890.0
1,0,100,2,1,616,Sylas,517,5.0,37664.0
2,0,100,3,2,667,Lissandra,127,6.0,40303.0
3,0,100,4,3,860,Caitlyn,51,6.0,96304.0
4,0,100,5,4,325,Morgana,25,7.0,608721.0
...,...,...,...,...,...,...,...,...,...
79995,7999,200,6,13979,595,Yorick,83,6.0,48037.0
79996,7999,200,7,39643,38,Volibear,106,1.0,135.0
79997,7999,200,8,5570,498,Anivia,34,7.0,49027.0
79998,7999,200,9,10228,733,Twitch,29,7.0,174089.0
79999,7999,200,10,1684,574,Zilean,26,6.0,30703.0

In [8]:
#convert to int types
coltomergeon = ['matchId', 'teamId', 'participantId']

for x in za[coltomergeon]:
    za[x] = za[x].astype(int)
    
for x in champion_points[coltomergeon]:
    champion_points[x] = champion_points[x].astype(int)

In [9]:
frames_champs = pd.merge(za, champion_points, on = ['matchId', 'teamId', 'participantId'], how = 'left')
frames_champs

,matchId,teamId,participantId,currentGold,totalGold,xp,cs_abilityHaste,cs_abilityPower,cs_armor,cs_attackDamage,...,dd_pDamageDoneToChamps,dd_totDamageDone,positionX,positionY,summonerId,summonerLevel,championName,championId,championLevel,championPoints
0,0,100,1,341,2741,4141,0,9,112,84,...,3446,22588,394,461,0,303,Mordekaiser,82,6.0,61890.0
1,0,100,2,5,3045,2861,0,102,53,72,...,2471,43236,986,1629,1,616,Sylas,517,5.0,37664.0
2,0,100,3,365,3545,4712,0,113,56,70,...,2700,33594,8102,7583,2,667,Lissandra,127,6.0,40303.0
3,0,100,4,1214,2789,2894,0,0,51,114,...,2112,21804,13118,2895,3,860,Caitlyn,51,6.0,96304.0
4,0,100,5,566,2026,2551,0,56,44,69,...,1138,5274,11778,2819,4,325,Morgana,25,7.0,608721.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,999,200,6,1127,1127,851,0,0,43,80,...,126,2094,14340,14390,8653,45,DrMundo,36,1.0,344.0
79996,999,200,7,844,1694,1546,0,0,51,90,...,408,23496,8707,10696,345,658,Khazix,121,6.0,33794.0
79997,999,200,8,56,1731,2489,0,18,47,72,...,1004,8191,7038,8022,5527,95,Sylas,517,7.0,163699.0
79998,999,200,9,212,1512,1257,0,0,42,92,...,238,7068,13660,4454,8654,710,Jinx,222,7.0,114586.0
79999,999,200,10,316,1251,1222,0,46,36,61,...,742,2319,12404,6126,8268,531,Lux,99,7.0,486731.0

In [6]:
frames_champs = pd.read_csv('../data/frames_champs_df.csv')
frames_champs

,Unnamed: 0,matchId,teamId,participantId,currentGold,totalGold,xp,cs_abilityHaste,cs_abilityPower,cs_armor,...,dd_pDamageDoneToChamps,dd_totDamageDone,positionX,positionY,summonerId,summonerLevel,championName,championId,championLevel,championPoints
0,0,0,100,1,341,2741,4141,0,9,112,...,3446,22588,394,461,0,303,Mordekaiser,82,6.0,61890.0
1,1,0,100,2,5,3045,2861,0,102,53,...,2471,43236,986,1629,1,616,Sylas,517,5.0,37664.0
2,2,0,100,3,365,3545,4712,0,113,56,...,2700,33594,8102,7583,2,667,Lissandra,127,6.0,40303.0
3,3,0,100,4,1214,2789,2894,0,0,51,...,2112,21804,13118,2895,3,860,Caitlyn,51,6.0,96304.0
4,4,0,100,5,566,2026,2551,0,56,44,...,1138,5274,11778,2819,4,325,Morgana,25,7.0,608721.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,79995,999,200,6,1127,1127,851,0,0,43,...,126,2094,14340,14390,8653,45,DrMundo,36,1.0,344.0
79996,79996,999,200,7,844,1694,1546,0,0,51,...,408,23496,8707,10696,345,658,Khazix,121,6.0,33794.0
79997,79997,999,200,8,56,1731,2489,0,18,47,...,1004,8191,7038,8022,5527,95,Sylas,517,7.0,163699.0
79998,79998,999,200,9,212,1512,1257,0,0,42,...,238,7068,13660,4454,8654,710,Jinx,222,7.0,114586.0
79999,79999,999,200,10,316,1251,1222,0,46,36,...,742,2319,12404,6126,8268,531,Lux,99,7.0,486731.0

In [75]:
cgold = pd.pivot_table(data = frames_champs, index = ['matchId'], columns = ['teamId', 'participantId'], values = ['currentGold'])
cgold.columns = ['_'.join(map(str, c,)).strip('_') for c in cgold]
cgold.reset_index()
cgold

,currentGold_100_1,currentGold_100_2,currentGold_100_3,currentGold_100_4,currentGold_100_5,currentGold_200_6,currentGold_200_7,currentGold_200_8,currentGold_200_9,currentGold_200_10
matchId,,,,,,,,,,
0,341,5,365,1214,566,205,1139,32,719,1369
1,263,1824,1122,895,278,290,901,678,594,398
2,419,797,237,428,228,991,84,130,850,406
3,848,1583,87,1000,1774,235,2069,1265,246,500
4,1467,1373,726,407,308,207,722,1039,107,215
...,...,...,...,...,...,...,...,...,...,...
7995,285,633,504,1059,573,759,447,399,188,10
7996,503,1129,971,374,231,335,1506,21,576,542
7997,979,-114,207,1169,794,67,511,481,348,659
7998,336,1177,513,261,686,1052,1198,718,753,714
7999,1260,1108,502,306,142,1564,901,704,681,442

In [10]:
cgold.columns

Index(['currentGold_100_1', 'currentGold_100_2', 'currentGold_100_3',
       'currentGold_100_4', 'currentGold_100_5', 'currentGold_200_6',
       'currentGold_200_7', 'currentGold_200_8', 'currentGold_200_9',
       'currentGold_200_10'],
      dtype='object')

In [11]:
['_'.join(map(str, c,)).strip('_') for c in cgold]

['c_u_r_r_e_n_t_G_o_l_d___1_0_0___1',
 'c_u_r_r_e_n_t_G_o_l_d___1_0_0___2',
 'c_u_r_r_e_n_t_G_o_l_d___1_0_0___3',
 'c_u_r_r_e_n_t_G_o_l_d___1_0_0___4',
 'c_u_r_r_e_n_t_G_o_l_d___1_0_0___5',
 'c_u_r_r_e_n_t_G_o_l_d___2_0_0___6',
 'c_u_r_r_e_n_t_G_o_l_d___2_0_0___7',
 'c_u_r_r_e_n_t_G_o_l_d___2_0_0___8',
 'c_u_r_r_e_n_t_G_o_l_d___2_0_0___9',
 'c_u_r_r_e_n_t_G_o_l_d___2_0_0___1_0']

### Summarize by Team

In [12]:
cols_to_pivot = ['totalGold', 'xp',  'cs_abilityHaste', 'cs_abilityPower','cs_armor', 'cs_attackDamage','cs_attackSpeed', \
     'cs_health', 'cs_healthMax', 'dd_totalDamageTaken', \
     'dd_pDamageDoneToChamps' ,'dd_totDamageDone', \
     'positionX', 'positionY']

In [23]:
index = ['matchId']
columns =  ['teamId', 'participantId']

for col in frames_champs[cols_to_pivot]:
    totGold = pd.pivot_table(data = frames_champs, index = index, columns = columns, values = ['totalGold']).reset_index()
    xp = pd.pivot_table(data = frames_champs, index = index, columns = columns, values = ['xp']).reset_index()
    
    #totGold.columns = ['_'.join(map(str, c,)).strip('_') for c in totGold]

In [117]:
results = pd.DataFrame({'matchId': frames_champs['matchId'].unique()})

cols_to_pivot = ['totalGold', 'xp',  'cs_abilityHaste', 'cs_abilityPower','cs_armor', 'cs_attackDamage','cs_attackSpeed', \
     'cs_health', 'cs_healthMax', 'dd_totalDamageTaken', \
     'dd_pDamageDoneToChamps' ,'dd_totDamageDone', \
     'positionX', 'positionY' , 'championName', 'championLevel', 'championPoints' ]


for i in frames_champs[cols_to_pivot]:
    print(i)
    pivot_table = pd.pivot(frames_champs, values = i, index = 'matchId', columns = ['teamId', 'participantId'])
    
    pivot_table.columns = [str(i)+str('_'.join(map(str, c))) for c in pivot_table]
    
    results = pd.merge(results, pivot_table, on='matchId', how = 'inner')
    print(results.shape)

totalGold
(8000, 11)
xp
(8000, 21)
cs_abilityHaste
(8000, 31)
cs_abilityPower
(8000, 41)
cs_armor
(8000, 51)
cs_attackDamage
(8000, 61)
cs_attackSpeed
(8000, 71)
cs_health
(8000, 81)
cs_healthMax
(8000, 91)
dd_totalDamageTaken
(8000, 101)
dd_pDamageDoneToChamps
(8000, 111)
dd_totDamageDone
(8000, 121)
positionX
(8000, 131)
positionY
(8000, 141)
championName
(8000, 151)
championLevel
(8000, 161)
championPoints
(8000, 171)

In [118]:
results.shape

(8000, 171)

In [119]:
results

,matchId,totalGold100_1,totalGold100_2,totalGold100_3,totalGold100_4,totalGold100_5,totalGold200_6,totalGold200_7,totalGold200_8,totalGold200_9,...,championPoints100_1,championPoints100_2,championPoints100_3,championPoints100_4,championPoints100_5,championPoints200_6,championPoints200_7,championPoints200_8,championPoints200_9,championPoints200_10
0,0,2741,3045,3545,2789,2026,4380,4114,3372,3419,...,61890.0,37664.0,40303.0,96304.0,608721.0,1180052.0,45215.0,118831.0,16631.0,89581.0
1,1,2888,4549,3947,3600,2678,3715,2891,3003,3084,...,32069.0,890336.0,605169.0,151187.0,548849.0,404369.0,423591.0,16728.0,14532.0,12363.0
2,10,2664,3850,3712,4927,2841,4655,3186,4058,2968,...,29595.0,190520.0,16424.0,67522.0,5179.0,81384.0,15555.0,171780.0,38171.0,76948.0
3,100,2814,4072,3289,5535,3880,3516,4619,2940,2653,...,53370.0,64717.0,2703244.0,220056.0,639229.0,1676567.0,236945.0,277.0,185622.0,552615.0
4,1000,3164,4548,3811,3998,3808,4078,3602,3068,2830,...,972443.0,99843.0,20610.0,13271.0,89289.0,62110.0,88791.0,7079.0,385086.0,26974.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,995,3368,3486,3951,3682,2280,3232,3053,3835,3174,...,13401.0,6910.0,56731.0,17585.0,24890.0,20145.0,702664.0,31861.0,28809.0,34855.0
7996,996,3842,3779,3663,4833,2739,3209,3274,3461,3667,...,36651.0,2700.0,373159.0,33958.0,20172.0,1172.0,11735.0,2689100.0,256726.0,50281.0
7997,997,3583,3761,3037,3093,2325,4141,3821,3343,4427,...,73803.0,82340.0,8594.0,33273.0,387.0,377117.0,4647.0,12031.0,99127.0,130341.0
7998,998,3000,3458,2832,3846,2462,4427,4389,3161,2770,...,22451.0,2662.0,103213.0,6158.0,205005.0,2095625.0,60531.0,776567.0,25860.0,20679.0
7999,999,2473,2139,2022,2184,1208,1127,1694,1731,1512,...,915982.0,623034.0,7016.0,224410.0,199242.0,344.0,33794.0,163699.0,114586.0,486731.0

In [120]:
train_winners = pd.read_csv('../data/train_winners.csv')
train_winners

      matchId  winner
0           0     200
1           1     200
2           2     200
3           3     100
4           4     200
...       ...     ...
7995     7995     200
7996     7996     100
7997     7997     200
7998     7998     200
7999     7999     100

[8000 rows x 2 columns]

In [121]:
data_171_cols = pd.merge(results, train_winners, on ='matchId', how = 'inner')
data_171_cols

,matchId,totalGold100_1,totalGold100_2,totalGold100_3,totalGold100_4,totalGold100_5,totalGold200_6,totalGold200_7,totalGold200_8,totalGold200_9,...,championPoints100_2,championPoints100_3,championPoints100_4,championPoints100_5,championPoints200_6,championPoints200_7,championPoints200_8,championPoints200_9,championPoints200_10,winner
0,0,2741,3045,3545,2789,2026,4380,4114,3372,3419,...,37664.0,40303.0,96304.0,608721.0,1180052.0,45215.0,118831.0,16631.0,89581.0,200
1,1,2888,4549,3947,3600,2678,3715,2891,3003,3084,...,890336.0,605169.0,151187.0,548849.0,404369.0,423591.0,16728.0,14532.0,12363.0,200
2,10,2664,3850,3712,4927,2841,4655,3186,4058,2968,...,190520.0,16424.0,67522.0,5179.0,81384.0,15555.0,171780.0,38171.0,76948.0,100
3,100,2814,4072,3289,5535,3880,3516,4619,2940,2653,...,64717.0,2703244.0,220056.0,639229.0,1676567.0,236945.0,277.0,185622.0,552615.0,100
4,1000,3164,4548,3811,3998,3808,4078,3602,3068,2830,...,99843.0,20610.0,13271.0,89289.0,62110.0,88791.0,7079.0,385086.0,26974.0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,995,3368,3486,3951,3682,2280,3232,3053,3835,3174,...,6910.0,56731.0,17585.0,24890.0,20145.0,702664.0,31861.0,28809.0,34855.0,100
7996,996,3842,3779,3663,4833,2739,3209,3274,3461,3667,...,2700.0,373159.0,33958.0,20172.0,1172.0,11735.0,2689100.0,256726.0,50281.0,100
7997,997,3583,3761,3037,3093,2325,4141,3821,3343,4427,...,82340.0,8594.0,33273.0,387.0,377117.0,4647.0,12031.0,99127.0,130341.0,200
7998,998,3000,3458,2832,3846,2462,4427,4389,3161,2770,...,2662.0,103213.0,6158.0,205005.0,2095625.0,60531.0,776567.0,25860.0,20679.0,200
7999,999,2473,2139,2022,2184,1208,1127,1694,1731,1512,...,623034.0,7016.0,224410.0,199242.0,344.0,33794.0,163699.0,114586.0,486731.0,100

In [122]:
data_171_cols.to_csv('../data/data_171_cols.csv')